<!DOCTYPE html>
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <title>EndeWeb</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" href="../static/img/favicon.ico">
</head>
<body>
    <h1>Welcome to EndeWeb</h1>
    <p class="endebox1">EndeWeb is a web version of the Ende project ( which is a tool for Encdoing/Decoding ) hosted using Python Flask</p>
    <p class="endebox1">You can find the Ende project <a href="https://github.com/MubarmajM/Ende.sh">here</a></p>
    <br><br><br>
    <h2 class="tomato">ENCODE</h2>
    <div class="encodebox">

    <ul>
        <li><a href="/encode?encode=base64">Base64 encode</a></li>
        <li><a href="/encode?encode=url">URL encode</a></li>
        <li><a href="/encode?encode=hex">Hex encode</a></li>
        <li><a href="/encode?encode=rot13">ROT13 encode</a></li>
        <li><a href="/encode?encode=binary">Binary encode</a></li>
        <li><a href="/encode?encode=octal">Base-8 ( octal ) encode</a></li>
    </ul>
    </div>
    <br><br>
    <h2 class="tomato">DECODE</h2>
    <div class="decodebox">

    <ul>
        <li><a href="/decode?decode=base64">Base64 decode</a></li>
        <li><a href="/decode?decode=url">URL decode</a></li>
        <li><a href="/decode?decode=hex">Hex decode</a></li>
        <li><a href="/decode?decode=rot13">ROT13 decode</a></li>
        <li><a href="/decode?decode=binary">Binary decode ( buggy )</a></li>
        <li><a href="/decode?decode=octal">Base-8 ( octal ) decode</a></li>
    </ul>
    </div>
    <footer>
        <p class="endebox3">Made with ❤️ by MubarmajM</p>
    </footer>
</body>
</html>